[
    % 默认冷表
        {
            % 冷表 开机加载 (表名player开头，key中带有player_id 默认为热表)
            power_load_tables,
            [
                player_data,
                player_sys_attr,
                player_conditions_data,
                player_charge_info_record,
                player_game_data,
                player_charge_activity,
                player_mail,
                player_server_data,
                player_times_data,
                player_function,
                player_prop,
                player_gift_mail,
                player_chat_data
            ]
        },
    {
        %% 缓存使用dets, 默认使用ets缓存
        dets,
        [
            consume_statistics,
            charge_info_record,
            player_charge_info_record,
            player_sys_attr,
            player_offline_apply,
            player_game_data,
            player_charge_activity,
            account,
            player_conditions_data,
            player_charge_record,
            player_server_data
        ]
    },
    {
        %% 需要压缩的表
        compress,
        [
            player_mail,
            player_offline_apply,
            player,
            account
        ]
    },
    {
        % 脏表 使用game_db:dirty_write() 写
        dirty_tables,
        [
            player_login_log,
            player_online_log,
            player_prop_log,
            global_player,
            global_account,
            player_game_log,
            player_client_log,
            phone_unique_id
        ]
    },
    {
        % 增量表 (对数据操作频繁,每3分钟异步存一次数据。默认为异步时时存 )
        increment_sync_tables,
        [
            player_data,
            player_prop,
            player_conditions_data,
            rank_info,
            consume_statistics,
            player_game_data,
            player_sys_attr
        ]
    },
    {
        %% 索引
        index,
        [
            %%索引名    表名    字段列表
            {player_1, player, [nickname]},
            {player_2, player, [acc_id, server_id]},
            {player_offline_apply_1, player_offline_apply, [player_id]},
            {player_function_1, player_function, [player_id]},
            {player_prop_1, player_prop, [player_id]},
            {player_times_data, player_times_data, [player_id]},
            {player_mail_1_player_id, player_mail, [player_id]},
            {player_title_1, player_title, [player_id]},
            {robot_player_data_1, robot_player_data, [nickname]},
            {rank_info_1_rank_id, rank_info, [rank_id]},
            {rank_info_2, rank_info, [rank_id, rank]},
            {rank_info_3_old_rank, rank_info, [rank_id, old_rank]},
            {player_activity_1_activity_id, player_activity, [activity_id]},
            {player_charge_record_1, player_charge_record, [player_id]},
            {player_prerogative_card_1, player_prerogative_card, [player_id]},
            {player_activity_game_1, player_activity_game, [activity_id, activity_start_time]},
            {player_passive_skill_1, player_passive_skill, [player_id]},
            {player_sys_attr_1, player_sys_attr, [player_id]},
            {player_sys_common_by_player, player_sys_common, [player_id]},
            {player_sys_common_by_state, player_sys_common, [player_id, state]},
            {promote_record_1, promote_record, [platform_id, acc_id]},
            {player_client_data_1, player_client_data, [player_id]},
            {robot_player_scene_cache_1, robot_player_scene_cache, [player_id]},
            {mission_ranking_1, mission_ranking, [mission_type, mission_id, id]},
            {mission_ranking_by_rank_id, mission_ranking, [mission_type, mission_id, id, rank_id]},
            {brave_one_1, brave_one, [fight_player_id]},
            {player_hero_by_player, player_hero, [player_id]},
            {player_hero_parts_by_player, player_hero_parts, [player_id]},
            {player_activity_info_1, player_activity_info, [player_id]},
            {player_special_prop_by_player, player_special_prop, [player_id]},
            {gift_code_type_1, gift_code_type, [name]},
            {player_daily_task_1, player_daily_task, [player_id]},
            {player_daily_points_1, player_daily_points, [player_id]},
            {player_bounty_task_1, player_bounty_task, [player_id]},
            {player_gift_mail_by_player, player_gift_mail, [player_id]},
            {player_gift_mail_by_sender, player_gift_mail, [sender]},
            {one_vs_one_rank_data_by_type, one_vs_one_rank_data, [type]},
            {wheel_player_bet_record_by_id, wheel_player_bet_record, [type, id]},
            {wheel_player_bet_record_by_type_and_player, wheel_player_bet_record, [type, player_id]},
            {wheel_player_bet_record_today_by_player, wheel_player_bet_record_today, [type, player_id]},
            {wheel_result_record_by_type, wheel_result_record, [type]},
            {player_chat_data_by_player, player_chat_data, [player_id]},
            {wheel_result_record_accumulate_1, wheel_result_record_accumulate, [type, u_id, record_type]}
        ]
    },
    {
        %% 分表
        slice_column,
        [
        ]
    }
].
