[
    {
        enum,%% 枚举配置表: 生成 table_enum.hrl
        [

            %% {表名, 前缀,  Id, 标识, 名称, 备注, create_type(0:只生成服务端;1:生成客户+服务器端;2:只生成客户端; \ 生成json=(10,11,12)和(0,1,2)规则一样) 13只生成json} %%
            %%{t_role, role_, id, sign, name, "角色类型"},
            {t_log_type, log_type_, id, sign, name, "日志类型", 11},
            {t_item, item_, id, sign, name, "物品", 11},
            {t_item_type, it_, type, sign, name, "物品类型", 1},
%%            {t_prop_type, prop_type_, type, sign, name, "道具类型", 11},
            {t_static_data, sd_, data, sign, name, "静态表"},
%%            {t_resources, res_, id, sign, name, "资源", 11},
%%            {t_attr, attr_, type, sign, name, "属性类型表", 1},
%%            {t_attr, attr_power_rate_, fight_power, sign, name, "属性战力公式rate"},
%%            {t_equip_type, equip_pos_, id, sign, name, "装备部位"},
            {t_function, function_, id, sign, name, "功能", 11},
%%            {t_equip, json_, id, sign, name, "装备", 13},
            {t_mission_type, mission_type_, id, sign, desc, "副本类型", 11},
            {t_scene_type, scene_type_, id, sign, name, "场景类型", 1},
            {t_times, times_, id, sign, name, "次数", 1},
            {t_conditions_enum, con_enum_, sign, sign, name, "条件枚举"},
%%            {t_setting, setting_, id, sign, name, "设置", 1},
            {t_mail, mail_, id, sign, name, "邮件"},
            {t_function_config, client_1_, id, sign, name, "功能条件枚举表", 2},
%%            {t_task, json_, id, id, title, "任务", 13},
%%            {t_ui_config, client_, id, sign, name, "客户端ui", 2},
%%            {t_faction_job, f_job_, id, sign, name, "仙盟职位", 1},
            {t_shop_type, shop_t_, id, sign, name, "商店类型", 1},
            {t_activity_time_type, act_t_, id, sign, name, "活动类型", 1},
            {t_activity_info, act_, id, sign, name, "活动信息", 1},
%%            {t_collect, collect_, id, sign, name, "采集物", 1},
            {t_effect_type, effect_type_, sign, sign, name, "效果类型", 0},
            {t_effect_type, effect_type_, sign, sign, name, "效果类型", 2},
            {t_platform, platform_, id, id, name, "平台", 11},
%%            {t_treasure_house_type, treasure_h_t_, id, sign, name, "藏宝阁类型表", 1},
%%            {t_scene, scene_, id, id, name, "场景", 13},
%%            {t_activity_recharge_type, charge_a_t_, id, sign, name, "充值活动类型表", 1},
            {t_vip_boon_type, vip_boon_t_, id, sign, name, "VIP特权类型表", 1},
            {t_charge_game, charge_game_, id, sign, name, "游戏内充值id", 1},
%%            {t_mission, mission_, {mission_type, id}, id, name, "副本", 13},
            {t_title, title_, id, sign, name, "称号", 0},
%%            {t_magic_weapon_2, magic_weapon_, id, id, name, "法宝", 13},
%%            {t_god_weapon, god_weapon_, id, id, name, "神兵", 13},
            {t_sound, client_, id, sign, desc, "声音表", 2},
            {t_recharge, client_, id, sign, remark, "充值商品信息", 12},
            {t_message, message_, id, sign, name, "模版消息", 0},
%%            {t_platform_reward, platform_reward_, id, sign, desc, "平台礼包", 1},
            {t_pk_mode, pk_mode_, id, sign, title, "PK模式", 1},
            {t_notice, notice_, id, sign, type, "公告", 0},
            {t_channel, channel_, channel, sign, name, "渠道", 11},
            {t_share_task_type, share_task_type_, task_type, sign, desc, "分享任务类型表", 2},
%%            {t_video_award, video_award_, id, sign, name, "视频分享", 2},
%%            {t_debug, debug_, type, sign, name, "debug调试"}
            {t_color, color_, id, sign, desc, "颜色", 2},
            {t_popup_msg_type, popup_msg_type_, id, sign, name, "弹窗消息类型", 2},
            {t_popup_msg, popup_msg_, id, sign, name, "弹窗消息", 2},
            {t_client_log, client_log_, id, sign, name, "客户端日志", 2},
            {t_buff_new_effect, effect_, id, sign, desc, "效果", 0},
            {t_buff_new_effect, effect_, id, sign, desc, "效果", 2},
            {t_buff_new_effect, skill_effect_, sign, sign, desc, "效果", 0},
            {t_monster_effect, monster_effect, skill_id, sign, desc, "怪物效果表", 2},
            {t_monster_effect, monster_effect_skill_, skill_id, skill_id, desc, "怪物效果表", 0},
            {t_platform_charge, platform_charge_, id, sign, name, "支付平台通道选择", 0},
            {t_active_skill, active_skill_, id, id, name, "主动技能", 0},
            {t_skill_charge, charge_skill_, id, sign, desc, "充能技能", 1},
            {t_service_log, service_log_, id, sign, name, "服务端打点日志表", 0},
            {t_give_mail, gift_mail_, id, sign, name, "礼物邮件", 0},
            {t_chat, chat_channel_, id, sign, name, "聊天频道", 1},
            {t_chat_notice, chat_notice_, id, sign, content, "聊天公告", 0}
        ]
    },
    {
        json,%% json 配置 {表名, [字段 | {字段， 别名}...]}
        [
%%            {jade2, [id, level, name, revival_level]},
%%            {equip, [id, name, quality]},
            {task, [id, {title, name}]},
            {scene, [id, name, type]},
%%            {title, [id, name]},
%%            {god_weapon, [id, name]},
%%            {seal_spirit_item, [id, name]},
            {log_type, [id, name]},
            {item, [id, name, can_be_traded, can_be_logged]},
%%            {prop_type, [{type, id}, name]},
%%            {resources, [id, name]},
            {function, [id, name, have_pf_list]},
            {mission_type, [id, {desc, name}]},
            {platform, [id, name]},
            {recharge, [id, name, remove_pf_list, cash, diamond, vip_exp, idx_ord]},
            {channel, [{channel, id}, name]},
%%            {magic_weapon_2, [id, name, quality]},
%%            {heart_level, [id, level, name]},
            {times, [id, name]},
            {mission, [mission_type, id, name]},
%%            {fumo_items, [id, name]},
%%            {hun_zhuang, [id, name]},
            {activity_info, [id, name]},
            {news_push, [id, function, function_config_id, name, is_open_ui, headline, desc]},
            {service_log, [id, name, sign]},
            {monster, [id, name]},
            {client_log, [id, name, sign]}
%%            {hun_zhuang_items, [id, name]}
        ]
    },
    {
        exclude,%% 排除的csv表
        [
%%			skill,
%%			skill_assembly,
            language,
            skill_cell,
            random_name,
            skill_resource,
            avatar,
            scene_effect,
            function_icon,
            share_list,
            dialog
        ]
    }
].
