[

    %% ************** 数据库配置 ************ %%
    {mysql_host, "127.0.0.1"},
    {mysql_user, "root"},
    {mysql_port, 3306},
    {mysql_password, "game1234"},
    {mysql_database, "db_t3_game_s1"},
    %% 数据库备份目录
    {mysql_backup_dir, "../data/mysql_backup/"},
    %% db 回写间隔(ms)
    {db_sync_time_ms, 10000},

    %% ***************日志配置*************** %%
    %% %日志输出级别 0:debug 1:info 2:warning 3:error 4:fetal_error
    {log_level, 0},
    %% 日志路径
    {log_dir, "../log/game/"},
    %% 日志文件名
    {log_name, "game.log"},

    %% ***************socket配置*************** %%
    %% socket 最大连接数
    {max_client_count, 3000},
    %% socket 监听进程数
    {tcp_accept_count, 5},
    {update_black_ip_list_txt_dir, "../script/getBlackIpList.sh"},
    {update_black_ip_list_txt, "../priv/blackIpList.txt"},


    %% 中心节点
    {center_node, 't3_center@192.168.31.100'},
    %% 充值服节点
    {charge_node, 't3_charge@192.168.31.100'},
    %% 是否追踪协议
    {is_trace_proto, true},
    %% 是否启动机器人
    {is_create_robot, true},
    %% 地图数据路径
    {map_data_dir, "../../resource/assets/scene/map"},
    %% 场景数据路径
    {scene_data_dir, "../../resource/assets/scene/scenedata"},
    %% csv表路径
    {template_dir, "../../table/csv"},
    %% 是否生成json
    {is_create_json, true},
    %% 是否生成外键
    {is_check_foreign_key, true},
    %% json 生成路径
    {json_dir, "/opt/admin/t3/views/static/json/"},
    %% 伤害调整(debug模式有效) [0: 正常 1:玩家无敌 2:怪物无敌 3:1滴血]
    {debug_hurt_type,0},
    %% 是否开启性能监控
    {is_profile, true},
    %% 服务器时间
    %% {datetime, {{2018,12,1}, {0,0,0}},
    %% tcp 模块
    {tcp_mode, gen_tcp},

    %% 环境 可选值：100和开发环境=develop 国内阿里云测试服=testing 香港测试服=testing_oversea 生产环境=production
    {env, "develop"},
    %% 与装备交易平台通信时，rsa证书公钥的绝对路径
    {path_2_props_trader_public_key, "../priv/cacert/public.pem"}

].
