[
    %% ************** 数据库配置 ************ %%
    {mysql_host, "127.0.0.1"},
    {mysql_user, "root"},
    {mysql_port, 3306},
    {mysql_password, "game1234"},
    {mysql_database, "db_t3_center"},
    %% 数据库备份目录
    {mysql_backup_dir, "../data/mysql_backup/"},

    %% ***************环境配置*************** %%
    {env, "develop"},                       %% 内网(trunk)环境、开发环境
%%    {env, "testing"},                     %% 国内测试服环境
%%    {env, "testing_oversea"},             %% 国外测试服环境
%%    {env, "production"},                  %% 生产环境


    %% ***************日志配置*************** %%
    %% %日志输出级别 0:debug 1:info 2:warning 3:error 4:fetal_error
    {log_level, 0},
    %% 日志路径
    {log_dir, "../log/center/"},
    %% 日志文件名
    {log_name, "center.log"},

    %% 唯一id节点
%%    {unique_id_node, 't3_unique_id@192.168.31.100'},

    %% 节点类型:中心服
    {is_center, true}

].
