[

    %% ************** 数据库配置 ************ %%
    {mysql_host, "127.0.0.1"},
    {mysql_user, "root"},
    {mysql_port, 3306},
    {mysql_password, "game1234"},
    {mysql_database, "db_t3_charge"},
    %% 数据库备份目录
    {mysql_backup_dir, "../data/mysql_backup/"},

    %% ***************日志配置*************** %%
    %% %日志输出级别 0:debug 1:info 2:warning 3:error 4:fetal_error
    {log_level, 0},
    %% 日志路径
    {log_dir, "../log/charge/"},
    %% 日志文件名
    {log_name, "charge.log"},


    %% 中心节点
    {center_node, 't3_center@192.168.31.100'}

].
